<div id="services"></div>

<script type="text/javascript">
  $(function() {
  	/// if category restaurant
    window.router = new MapTap.Routers.RestaurantsRouter({restaurants: <%= @services.to_json.html_safe -%>});
    Backbone.history.start();
    /// else if category pub
    /// Route to pub backbone
    /// else if category airport
    /// Route to airport backbone
  });
</script>
