<ul>
  <li>
    <h3><a href="#">Da Nello's</a></h3>
    <p>A posh restaurant for upper-class people</p>
    <a href="#" class="info">Info</a>
    <a href="#" id="3242" class="goto">Goto</a>
    <div style="clear:both"></div>
  </li>
  <li>
    <h3><a href="#">Random Restaurant</a></h3>
    <p>SOmething ora rather in ehere</p>
  </li>
</ul>