<h1>Contact</h1>
<p>Please <%= mail_to 'contact@reformsoft.org', 'email us' %> to:</p>
<ul>
	<li>Report any errors</li>
	<li>Get your business listed</li>
</ul>
<p>Please send us your Google Maps Lat and Lng along with your business name, website, email, phone, address and description</p>
<ul>
	<li>Enquire about advertising</li>
	<li>Anything else</li>
</ul>
