<% if @adverts %>
<h2>Friends</h2>
<ul>
  <% @adverts.each do |s| %>
  <% name_tag = s.tags.detect { |t| t.name == "Name" } %>
  <% description_tag = s.tags.detect { |t| t.name == "Description" } %>
  <% website_tag = s.tags.detect { |t| t.name == "Website" } %>
  <li>
    <h3><%= link_to name_tag.value, website_tag.value %></h3>
    <%= description_tag.value.html_safe %>
    <%= link_to 'Goto', root_path(:name => name_tag.value), :class => "goto" %> 
    <div style="clear:both"></div>
  </li>
  <% end %>
</ul>
<% end %>
<%= link_to 'Contact', contact_path %>
