<h1>Listing restaurants</h1>

<table id="restaurants-table">
  <tr>
    <th>Name</th>
    <th>Keywords</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Restaurant</a>