<h1>New restaurant</h1>

<form id="new-restaurant" name="restaurant">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="keywords"> keywords:</label>
    <input type="text" name="keywords" id="keywords" value="<%= keywords %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Restaurant" />
  </div>

</form>

<a href="#/index">Back</a>