/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






body {
	font-family:"Noto Sans", "Arial";
	margin:0;
}

h1 {
	font-size:1.5em;
}
h2 { font-size:1em}

/* Top */
#top {
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:50px;
	background-color:rgba(255, 255, 255, 0.8);
	z-index:9999;
	box-shadow:1px 0px 3px #999;
}

#top ul {
	margin:0;
	padding:0;
	font-size:0.85em;
	float:right;
	margin-right:15px;
}

#top ul li {
	float:left;
	list-style-type:none;
}

#popular_views {
	padding:17px 10px;
	color:#888;
}

#top ul li a {
	display:block;
	text-decoration:none;
	padding:17px 10px;
	color:#555;
}

#top a:hover {
	color:#000;
	background-color:transparent;
}

/* Content */
#content {
	position:fixed;
	left:0;
	bottom:20px;
	width:250px;
}

#padded_content {
	padding:10px;
}


#content li {
	list-style-type:none;
	margin:0;
	margin-bottom:10px;
	padding:0;
	padding:15px;
	background-color:rgba(255, 255, 255, 0.8);
	z-index:9999;
	box-shadow:0px 3px 3px #999;
	color:#333;
}


#content ul {
	margin:0;
	padding:0;
}

#content h3 {
	margin-top:0;
	margin-bottom:0px;
}
#content h3 a {
	text-decoration:none;
	font-size:0.85em;
	margin-bottom:5px;
}

#content li p {
	font-size:0.75em;
}

.goto, .info {
	color:#FFF;
	text-decoration:none;
	text-align:right;
	font-size:0.75em;
	float:right;
}

#searchbox {
	font-size:17px;
	margin-top:15px;
	margin-left:15px;
	float:left;
}

#map_overlay {
	display:none;
	width:400px;
	max-width:200px;
}

.service_title {
	margin-bottom:5px;
	display:block;
}

.service_sub {
	color:#888;
	font-size:0.85em;
}

.service_details {
	margin-top:10px;
	font-size:0.85em;
	max-width:500px;
}

.service_details th {
	font-weight:bold;
	padding:5px 10px 5px 0;
	text-align:right;
}