<ul>
	<li>
		<h3><a href="#">Da Nello's</a></h3>
		<p>A posh restaurant for upper-class people</p>
		<a href="#" class="info">Info</a>
		<a href="#" id="3242" class="goto">Goto</a>
		<div style="clear:both"></div>
	</li>
	<li>
		<h3><a href="#">Random Restaurant</a></h3>
		<p>SOmething ora rather in ehere</p>
	</li>
</ul>

<% if @services %>
	<p>Hi, there! This page has been loaded directly, @services has a value. We need to somehow get the @services into the map, as would happen if you selected it at the top</p>
<% end %>
